<style is="custom-style">
table{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  color: #000;
  font-family: Roboto;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 13px;
  width: 100%;
}
.pagination table,
.pagination tr,
.pagination td{
  border: 0;
}
th.sortable,
.rows td {
  white-space: nowrap;
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid #e0e0e0;
}
tbody tr.rows:hover,
.rows.selected {
  background-color: #f3f3f3;
}
tbody tr.rows.editing {
  background-color: #fbec88;
  border: 1px solid #fad42e;
}
th.searchable input,
th.searchable select {
  width: 90%;
}
th {
  border-bottom: 1px solid #e0e0e0;
  font-weight: bold;
  text-align: left;
  color: rgba(0,0,0, .54);
  padding: 15px 0px 15px 0px;
  box-sizing: border-box;
}
sup {
  color:yellow;
}
.search-head input {
  width: 40px;
  min-width: 90%;
}
.paging {
  display: block;
  float: left;
}
.pagesize {
  display: block;
  float: left;
}
.summary {
  display: block;
  float: right;
}
tfoot td {
  background-color: #eee;
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid #e0e0e0;
}
.hint,
.search,
.nosearch,
.copy-er i,
.move-down-er i,
.move-up-er i,
.remove-er i
 {
  border: 0;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 15px;
  min-height: 20px;
}
.hint:before {
  content:"\f05a";
}
.search:before {
  content:"\f00e";
}
.nosearch:before {
  content:"\f010";
}
.copy-er i:before {
  content:"\f0c5";
}
.remove-er i:before {
  content:"\f014";
}
.move-down-er i:before {
  content:"\f063";
}
.move-up-er i:before {
  content:"\f062";
}
</style>
